model_config_list {
  config {
    name: 'ps_0'
    base_path: '/home/yijie.zhu/tmp/hupu_runner20_finished/exported_models/ps_0'
    model_platform: 'tensorflow'
  }
  config {
    name: 'ps_item_embedding_0'
    base_path: '/home/yijie.zhu/tmp/hupu_runner20_finished/exported_models/ps_item_embedding_0'
    model_platform: 'tensorflow'
  }
}